{% load staticfiles %}

<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'menu/css/bootstrap.css'%}">
  <link href="{% static 'menu/css/style.css'%}" rel="stylesheet" type="text/css">
</head>

<title>천생연PET</title>    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<body>
  <div>
    <a href = 'main.html'>
      <img src="{% static 'menu/img/Title.png' %}"  style="position: absolute; left: 50px; top: 50px"> <!-- 타이틀 이미지 -->
    </a>

    <!--메뉴 -->
    <a href = ""><img src= "{% static 'menu/img/dog.png' %}" style="position: absolute; left: 1000px; top: 200px"></a>
    <a href = ""><img src= "{% static 'menu/img/cat.png' %}"  style="position: absolute; left: 1350px; top: 200px"></a>
    <a href = ""><img src= "{% static 'menu/img/etc.png' %}" style="position: absolute; left: 1700px; top: 200px"></a>
  </div>

    <a href = 'new.html'><img src="{% static 'menu/img/postBtn.png' %}" style="position: absolute; left: 1770px; top: 30px"></a>

    {% block content %}
    {% endblock %}

    </br></br></br></br></br>
    <div>
      <div>
        <h3>Comments ({{ pet.comments.count }})</h3>
        {% for comment in pet.comments.all %}
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="{% static 'menu/img/DFootPrint.png' %}" alt="">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
            <p>{{ comment.text|linebreaks }}</p>
            <i>{{ comment.created_date }}</i>
          </div>
        </div>
        {% empty %}
        {% endfor %}
      </div>
    </div>
  </div>

<body>
</html>
